<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs"
     xmlns:ui="http://wixtoolset.org/schemas/v4/wxs/ui">
  <Package Version="1.0.0"
           Id="Florian_Berger.football_discord_rp"
           Name="Football Discord-RP"
           Manufacturer="Florian Berger"
           UpgradeCode="e757798f-53e9-4c8d-924f-7c2979fbd52f">
    <!-- Include CAB file into MSI-->
    <MediaTemplate EmbedCab="yes" />
    
    <MajorUpgrade DowngradeErrorMessage="!(loc.DowngradeError)" />

    <WixVariable
      Id="WixUILicenseRtf"
      Value="MIT-License.rtf"
    />

    <ui:WixUI Id="WixUI_InstallDir"
              InstallDirectory="INSTALLFOLDER" />
    <UIRef Id="WixUI_ErrorProgressText" />

    <DirectoryRef Id="ApplicationProgramsFolder">
      <Component Id="ApplicationShortcut" Guid="e428b5be-4ef0-439c-b035-6b489e289a5c">
          <!--
          Uses notation [!FILE_REFERENCE] as Target, as the normally 
          used [#FILE_REFERENCE] leads to an ugly ICE69 warning
          -->
        <Shortcut
          Id="FootballDiscordRpStartMenuShortcut"
          Name="!(bind.Property.ProductName)"
          Target="[!file_footballDiscordRpExe]"
          WorkingDirectory="INSTALLFOLDER" />

        <RemoveFolder Id="CleanUpShortCut" Directory="ApplicationProgramsFolder" On="uninstall"/>
        <RegistryValue Root="HKCU"
                       Key="Software\!(bind.Property.Manufacturer)\!(bind.Property.ProductName)"
                       Name="installed"
                       Type="integer"
                       Value="1"
                       KeyPath="yes" />
      </Component>
    </DirectoryRef>

    <Feature Id="Main">
      <ComponentGroupRef Id="AppComponents" />

      <ComponentRef Id="ApplicationShortcut" />
    </Feature>
  </Package>
</Wix>
